* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(17, 24, 39, 1);
}


/* login & register */
.login-register-part {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(17, 24, 39, 1);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.login-register-part::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 200px;
    height: 200px;
    filter: blur(400px);
    background-color: rgba(43, 255, 220, 0.3);
    opacity: 0.8;
    z-index: 1;
}

.login-register-part::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 300px;
    height: 300px;
    filter: blur(400px);
    background-color: rgba(16, 70, 248, 0.3);
    opacity: 0.8;
    z-index: 1;
}

.form-container {
    width: 380px;
    border-radius: 0.75rem;
    backdrop-filter: blur(15px);
    background-color: rgba(73, 86, 113, 0.2);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    position: relative;
    z-index: 9
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 100%;
    border-radius: 0.375rem !important;
    border: 1px solid rgb(65, 75, 92);
    outline: 0;
    background-color: transparent;
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
    border-color: #0d6efd;
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.forgot a,
.signup button {
    background: transparent;
    border: none;
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.forgot button:hover,
.signup button:hover {
    text-decoration: underline #0d6efd;
}

.sign {
    display: block;
    width: 100%;
    background-color: #0d6efd;
    padding: 0.75rem;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
}

.social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
}

.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

/* main Part */
.main-part {
    min-height: 100vh;
    overflow: hidden;
}

.custom-navbar::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 200px;
    height: 100%;
    filter: blur(400px);
    background-color: rgba(43, 255, 220, 0.3);
    opacity: 0.8;
    z-index: -1;
    overflow: hidden;
}

.custom-navbar::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 300px;
    height: 100%;
    filter: blur(400px);
    background-color: rgba(16, 70, 248, 0.3);
    opacity: 0.8;
    z-index: -1;
    overflow: hidden;
}

.custom-navbar {
    padding: 1.6rem 0;
    background-color: rgba(73, 86, 113, 0.2);
    backdrop-filter: blur(15px);
    color: rgba(243, 244, 246, 1);
    position: relative;
    z-index: 9;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;

}

.logo p {
    margin: 0;
    padding: 0;
    color: #b5b5b5;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.profle-info h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 4px;
}

.profle-info p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.dropdown-toggle::after {
    display: none;
}

.custom-profile {
    background: rgba(255, 255, 255, 0.116);
    padding: 8px 12px;
    padding-right: 60px;
    border-radius: 5px;
}

.custom-profile::before {
    content: "";
    position: absolute;
    top: 43%;
    right: 15px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
}

/* main-content */
.main-content {
    padding: 40px 0;
}

.main-title h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #fff;
}

.main-title p {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}

/* card part */
.card {
    padding: 1rem;
    background-color: rgba(73, 86, 113, 0.2);
    backdrop-filter: blur(15px);
    color: rgba(243, 244, 246, 1);
    position: relative;
    z-index: 9;
    border-radius: 10px;
}

.card h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #e6e3e3;
    margin-bottom: 15px;
    padding-right: 70px;
}

.card-text p {
    margin: 0;
    font-size: 16px;
    color: rgba(156, 163, 175, 1);
}

.card-text h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #e6e3e3;
}

.card-action {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.edit {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(13, 109, 253, 0.2);
    border: 1px solid rgba(88, 141, 221, 0.3);
  color: rgb(100, 162, 255);
    cursor: pointer;
}

.delete {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(239, 68, 68, 0.2);
    border: 1px solid rgba(239, 68, 68, 0.3);
    color: rgba(239, 68, 68);
    cursor: pointer;
}

/* modal */
.modal-content{
    background-color: rgba(117, 133, 168, 0.3);
    backdrop-filter: blur(10px);
    color: #fff !important;
}
.modal-header{
    border-color: rgba(117, 133, 168, 0.3);
}
.modal-header button{
    background: transparent;
    border: none;
    color: #fff !important;
}
.modal-footer{
    border-color: rgba(117, 133, 168, 0.3);
}